@charset "UTF-8";
@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
    position: relative;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.am-inicio {
    color: white;
    height: 100vh;
    background: #52c234;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #061700, #778174);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(24, 161, 8), #061700);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.am-nav {
    /* background: black; */
    height: 100px;
    width: 100%;
}

.am-nav img {
    top: 10px;
    position: absolute;
    left: 8%;
    width: 60px;
}

.am-nav h2 {
    top: 28px;
    position: absolute;
    left: 13%;
    width: 60px;
    color: white;
}

.am-nav ul {
    padding-top: 10px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 8%;
}

.am-nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}

.am-nav ul li a {
    position: relative;
    color: white;
    font-size: 1.2em;
    padding-bottom: 3px;
    text-transform: uppercase;
}

.am-nav ul li a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}

.am-nav ul li a:hover:before {
    transform: scaleX(1);
    transform-origin: left;
}


/* a.active,
a:hover {
    background: #1b9bff;
    transition: .5s;
} */

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    .am-nav img {
        top: 10px;
        width: 50px;
    }
    .am-nav h2 {
        top: 23px;
        left: 20%;
    }
    nav ul li a {
        font-size: 16px;
    }
    .am-nav ul {
        padding-top: 0px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block !important;
        margin-right: 40px;
    }
    .am-nav ul {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        display: inline-block;
    }
    .am-nav ul li {
        display: block !important;
        margin: 50px 0;
        line-height: 30px;
    }
    .am-nav ul li a {
        font-size: 20px;
    }
    /*     a:hover,
    a.active {
        background: none;
        color: #0082e6;
    } */
    #check:checked~ul {
        left: 0;
    }
}

.am-header-title h1 {
    padding-top: 10%;
    font-size: 3em;
    font-weight: 600;
}

.am-header-title h2 {
    font-weight: lighter;
}

.am-header-image {
    padding-top: 5%;
    text-align: center;
    justify-content: center;
}

.am-header-image img {
    width: 80%;
}

@media only screen and (max-width: 767px) {
    .am-header-title h1 {
        padding-top: 0px;
        font-size: 2.5em;
        font-weight: 600;
        text-align: center;
    }
    .am-header-title h2 {
        font-weight: lighter;
        text-align: center;
    }
    .am-header-image img {
        width: 200px;
        padding-left: 30px;
    }
}

.am-body {
    color: white;
    height: 100vh;
    position: relative;
    background: url(/img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.am-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.am-body-title {
    padding-top: 10%;
    text-align: center;
}

.am-body-title h2 {
    font-size: 3em;
    padding: 0 15% 3% 15%;
    font-weight: 500;
}

.am-body-title p {
    font-weight: 200;
    font-size: 2em;
}

.am-body-mobile {
    padding-top: 7%;
    padding-bottom: 7%;
}

.am-body-mobile-img {
    text-align: center;
}

.am-body-mobile-title {
    padding-top: 7%;
}

.am-body-mobile-title h2 {
    color: rgb(38, 158, 37);
    text-align: center;
    font-weight: 700;
    padding: 0 5% 3% 5%;
    font-size: 2em;
}

.am-body-mobile-title p {
    color: black;
    text-align: center;
    font-weight: 350;
    font-size: 1.5em;
    padding: 0 3% 3% 3%;
}

.am-body-caracteristicas {
    padding-bottom: 7%;
}

.am-body-caracteristicas-title h2 {
    color: rgb(38, 158, 37);
    text-align: center;
    padding: 7% 0 3% 0;
    font-weight: 700;
}

.am-body-caracteristicas-icon {
    font-size: 5em;
}

.card {
    background-color: rgb(38, 158, 37);
    border-radius: 10px;
    margin-bottom: 5%;
    transition: all 1s ease-in-out;
}

.card-title {
    font-weight: lighter;
    font-size: 1.5em;
}

.card:hover {
    transform: scale(1.1);
}

.am-contacto-mensaje {
    text-align: center;
    padding: 7% 10% 7% 10%;
    margin-bottom: 5%;
    background-color: black;
    color: white;
}

.am-contacto-mensaje h2 {
    padding-bottom: 3%;
    font-weight: 500;
}

.am-contacto-mensaje h3 {
    font-weight: lighter;
}

.am-contacto-descripcion {
    text-align: center;
    text-align: justify;
    padding: 0 15% 0 15%;
    margin-bottom: 5%;
}

.am-contacto-descripcion p {
    font-weight: 400;
    color: black !important;
    font-size: 1.5em;
}

.page-footer {
    height: 100vh;
}